<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/saveUpdate}" th:object="${user}">
  <input type="hidden" name="id" th:value="${user.id}"/>
  <label for="username">Enter username: </label>
  <input type="text" th:field="*{username}" id="username"/>
  <label for="email">Enter email: </label>
  <input type="email" th:field="*{email}" id="email"/>
  <label for="password">Enter password: </label>
  <input type="password" th:field="*{password}" id="password"/>
  <br/>
  <p>
    <label>Roles:
      <input type="checkbox" name="roleIds"
             th:each="role : ${roles}"
             th:text="${role.name}"
             th:value="${role.id}"
             th:checked="${user.getAuthorities()}"
      />
    </label>
  </p>
  <br/>
  <input type="submit" value="Update User's Data"/>
</form>

<br/>
<form th:action="@{/logout}" method="post">
  <button type="submit">Sign Out</button>
</form>
<br/>
</body>